/* FLEX CONTAINER FOR THE WHOLE PAGE */
.interfaceContainer {
  background: linear-gradient(
    90deg,
    rgba(246, 208, 54, 1) 0%,
    rgba(89, 205, 250, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  padding-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* FLEX CONTAINER FOR CHARACTERS */
.characterContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    270deg,
    rgba(246, 208, 54, 1) 0%,
    rgba(89, 205, 250, 1) 100%
  );
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 30vw;
  min-width: 20vw;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 5px 10px 8px #888888;
}

/* HEADER SECTION  */
/* Tital */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: hotpink; */
  transform: rotate(-8deg);
  font-kerning: none;
  margin-top: 2rem;
  padding: 2rem;
}

/* Container for below */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 80vw;
}
/* ADD NEW CHARACTER/SEARCH/TOTAL LIKES 
ALL WITH SAME CLASS NAME TO AVIOD MULTIPLE CLASSES
WITH SAME STYLING  */
.characterCreateNewSearchLikes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/* IMAGES */
img {
  width: 100px;
  padding: 1rem;
}

/* LIKE BUTTON */
.liked {
  background-color: rgb(172, 140, 12);
}

/* UNLIKE BUTTON */
.notLiked {
  background-color: rgba(246, 208, 54, 1);
}

/* IMAGE AND QUOTE 
Adds space between via flex and styling to quote */
.imageAndQuote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-style: italic;
}

/* ALL BUTTONS 
Add/like/delete*/
button {
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: rgba(89, 205, 250, 1);
}

/* LIKE AND DELETE BUTTONS
spacing/flex */
.likeDeleteButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

/* NAME OF CHARACTER STYLING 
inc add new character  */
.characterName {
  font-weight: bolder;
}

/* SPLASH */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
