/* FLEX CONTAINER FOR THE WHOLE PAGE */
.interfaceContainer {
  background: linear-gradient(
    90deg,
    rgba(246, 208, 54, 1) 0%,
    rgba(89, 205, 250, 1) 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  padding-top: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* FLEX CONTAINER FOR CHARACTERS */
.characterContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    270deg,
    rgba(246, 208, 54, 1) 0%,
    rgba(89, 205, 250, 1) 100%
  );
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 5px 10px 8px #888888;
}

/* HEADER SECTION  */
/* Tital */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Container for below */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  width: 95vw;
  height: 25vh;
}
/* SEARCH/TOTAL LIKES 
SAME CLASS NAME TO AVIOD MULTIPLE CLASSES
WITH SAME STYLING  */
.searchLikes {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50vw;
}
h2 {
  margin: 0;
}

/* IMAGES */
img {
  width: 100px;
  padding: 1rem;
}

/* LIKE BUTTON */
.liked {
  background-color: rgb(172, 140, 12);
}

/* UNLIKE BUTTON */
.notLiked {
  background-color: rgba(246, 208, 54, 1);
}

/* IMAGE AND QUOTE 
Adds space between via flex and styling to quote */
.imageAndQuote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-style: italic;
}

/* ALL BUTTONS 
Add/like/delete*/
button {
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: rgba(89, 205, 250, 1);
}

/* LIKE AND DELETE BUTTONS
spacing/flex */
.likeDeleteButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

/* NAME OF CHARACTER STYLING 
inc add new character  */
.characterName {
  font-weight: bolder;
}

/* SPLASH */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Hide rotate screen message  */
.rotateScreen {
  display: none;
}

/* MEDIA Qs */
@media screen and (min-width: 300px) and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  .characterContainer,
  .header {
    display: none;
  }
  .rotateScreen {
    display: block;
    margin: 1rem;
  }

  body {
    background: linear-gradient(
      90deg,
      rgba(246, 208, 54, 1) 0%,
      rgba(89, 205, 250, 1) 100%
    );
  }
}
